<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2>Character Details :</h2>
        <hr>
        <div class="post-preview">
            <p><strong>Character Name - </strong> {{myCharacter.name}} </p>
            <p><strong>Character Aliase Name - </strong> {{myCharacter.aliases}}</p>
            <p><strong>Culture -  </strong> {{myCharacter.culture}}</p>
            <p><strong>Gender - </strong> {{myCharacter.gender}}</p>
            <strong>Book(s) - </strong>{{myCharacter.books.toString()}}
        </div>
        <hr>
      
     
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#/">Back to Home &rarr;</a>
            </li>
        </ul>
    </div>
</div>