<div ng-show="!myHouse.isLoading">
        <strong>Loading...</strong>
</div>
<div class="row" ng-show="myHouse.isLoading">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2>House Details :</h2>
        <hr>
        <div class="post-preview" style="color:rgb(36, 139, 139)">
            <strong>House Name - </strong> <span house>{{myHouse.name}}</span> <br/><br/>
            <strong>CoatofArms - </strong><span house>{{myHouse.coatOfArms}}</span><br/><br/>
            <strong>Region -  </strong> <span house>{{myHouse.region}}</span><br/><br/>
            <strong>Current Lord -  </strong> <span house>{{myHouse.currentLord}}</span><br/><br/>
            <strong>Heirs -  </strong> <span house>{{myHouse.heirs}}</span><br/><br/>
            <strong>Seat(s) -  </strong> <span house>{{myHouse.seats.toString()}}</span><br/><br/>
            <strong>Title(s) -  </strong> <span house>{{myHouse.titles.toString()}}</span><br/><br/>
            <strong>Founder -  </strong> <span house>{{myHouse.founder}}</span><br/><br/>
            <strong>Sworn Member(s) - </strong><span house>{{myHouse.swornMembers.toString()}}</span><br/><br/>
        </div>
        <hr>
      
     
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#/">Back to Home &rarr;</a>
            </li>
        </ul>
    </div>
</div>