<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <hr>
            Search by Author,Character<input type="text" ng-model="myDetails.searchText" 
            placeholder="Type text" />
            <hr>
            <!-- Search <input type="text" ng-model="myDetails.searchChararcter" 
            placeholder="Search by Character Name/Alias" />
            <hr> -->

        <!-- <div class="post-preview" ng-repeat="view in myDetails.views|orderBy:'name'">
                <my-characters ng-if="view.url.search('characters')>-1"></my-characters>
                <my-books ng-if="view.url.search('books')>-1"></my-books>
                <my-houses ng-if="view.url.search('houses')>-1"></my-houses>
        </div> -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th><a href="#/" ng-click="myDetails.sortType='name';myDetails.sortReverse=!myDetails.sortReverse">Characters/Books/Houses  <span ng-show="myDetails.sortType == 'name'" class="fa fa-caret-down"></span></a></th>
                </thead>
                <tbody>
                    <tr ng-repeat="view in myDetails.views|orderBy:myDetails.sortType:myDetails.sortReverse|filterAuthor:myDetails.searchText|startFrom:myDetails.currentPage*myDetails.pageSize | limitTo:myDetails.pageSize">
                        <td><my-characters ng-if="view.url.search('characters')>-1"></my-characters>
                        <my-books ng-if="view.url.search('books')>-1"></my-books>
                        <my-houses ng-if="view.url.search('houses')>-1"></my-houses></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        
      
     
        <!-- Pager -->
        <button ng-disabled="myDetails.currentPage == 0" ng-click="myDetails.currentPage=myDetails.currentPage-1">
                Previous
        </button>
                {{myDetails.currentPage+1}}/{{myDetails.numberOfPages()}}
        <button ng-disabled="myDetails.currentPage >= myDetails.getData().length/myDetails.pageSize - 1" ng-click="myDetails.currentPage=myDetails.currentPage+1">
                Next
        </button>
    </div>
</div>